* {
	box-sizing: border-box;
}
body {
	font: bold 16px arial;
	background: cyan;
}

#canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

g { cursor: pointer; }

.node {
	stroke: magenta;
	stroke-width: 4;
	fill: rgba(0,0,0,.9);

}

.node-text {
	font-family: courier;
	font-weight: normal;
	stroke: none;
	fill: lime;
}

.line {
	fill: none;
	stroke: black;
	stroke-width: 3;
}

.grabbed {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}