* {
	box-sizing: border-box;
}
body {
	font: bold 16px courier;
	background: cyan;
	-webkit-font-smoothing: antialiased;
}

.hide {
	display: none !important;
}

#canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
}

g { cursor: pointer; }

.node {
	stroke: magenta;
	stroke-width: 4;
	fill: rgba(0,0,0,.9);
}

g.active .node {
	stroke: yellow;
}

.node-text {
	color: lime;
	font-family: courier;
	font-weight: bold;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.socket {
	stroke: yellow;
	stroke-width: 3;
	fill: black;
	opacity: 0;
}

g.active .socket {
	opacity: .9;
}

#txt {
	position: absolute;
	opacity: 1;
	border: none;
	text-align: center;
	width: 116px;
	background: black;
	color: lime;
	font: normal 1em courier;
}

#txt:focus {
	outline: none;
}

.line {
	fill: none;
	stroke: black;
	stroke-width: 3;
}

.grabbed {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}